.lab-schedule-page {
  display: flex;
  justify-content: center; /* Center containers horizontally */
  align-items: center; /* Center containers vertically */
  height: 100vh; /* Full height of the viewport */
}

.lab-schedule-container1 {
  width: 400px; /* Container width */
  /*height: 600px; Container height */
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  margin: 20px; /* Spacing between containers */
  border: 2px solid #b5b5b5;
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: white; /* Optional: Background color */
}

.lab-schedule-container2 {
  width: 400px; /* Container width */
  /*height: 600px;  Container height */
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  margin: 20px; /* Spacing between containers */
  border: 2px solid #b5b5b5;
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: white; /* Optional: Background color */
}

.lab-schedule-image {
  max-width: 100%; /* Responsive image */
  max-height: 100%; /* Responsive image */
  object-fit: cover; /* Cover the container */
}

.lab-schedule-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.lab-schedule-content {
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  align-items: center; /* Center both image and button horizontally */
}

.labschedulebutton {
    display: inline-block;
    background-color: #1a5632;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    width: 200px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
  }