.tutor-timeslots-page {
  padding: 20px;
  background: #1a5632;
  border: 2px solid gray;
  max-width: 90%; 
  margin: auto; 
}

.tutor-timeslots-container {
  margin: 10% 20px 10% 20px; 
}

.timeslot-table {
  width: 100%;
  table-layout: fixed; 
}

.timeslot-table th,
.timeslot-table td {
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  border: 1px solid gray;
}

  
  .add-timeslot-button,
  .edit-button,
  .delete-button,
  .save-button,
  .cancel-button {
    margin: 5px;
  }
  
  .form-input,
  .form-select {
    width: 100%;
  }
  
  .text-center {
    font-weight: bold;
    color: #ffffff;
  }
  
  .edit-button {
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 5px;
  }
  
  .delete-button {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .add-timeslot-button {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .save-button {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .cancel-button {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  